<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/processSong}" th:object="${song}" method="post">
     Song Title : <input class="form-control" type="text" th:field="*{title}" />
    <span th:if="${#fields.hasErrors('title')}"
          th:errors="*{titlr}"></span><br/>


    Year : <input class="form-control" type="text" th:field="*{year}" />
    <span th:if="${#fields.hasErrors('year')}"
          th:errors="*{year}"></span><br/>

    Description: <textarea class="form-control" rows="3" th:field="*{description}"></textarea>
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br/>
    </div>
    <input name="submit" id="submit" type="submit" tabindex="5" value="Submit Form" class="Cbutton">
</form>
</body>
</html>